* {
  box-sizing: border-box;
}

:root {
  --primary: #23abf0;
  --accent: rgb(179, 212, 89);
  --error: red;
  --secondary: #3a8eb8;
  --backdrop: rgb(236, 236, 236);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Open Sans", sans-serif;
  line-height: 130%;
  color: #2c3e50;
  background-color: white;
}
